{% extends "llm_grading/base.html" %}
{% load form_tags %}
{% block title %}Student Grade Report{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Grade Report</h2>
    
    <div id="alert-container">
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error_message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>

    <!-- <p>Total Data: {{ total_rows }} {% if total_rows > 0 %}<a href="" class="btn btn-primary">Export</a>{% endif %}</p> -->
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="marketTable">
            <thead class="table-dark">
                <tr>
                    <th>Sl</th>
                    <th>exam_name</th>
                    <th>exam_code</th>
                    <th>full_points</th>
                    <th>academic_year</th>
                    <th>total_questions</th>
                    <th>student_name</th>
                    <th>grade</th>
                    <th>points</th>
                    <th>total_answer</th>
                    <th>total_processed_answer</th>
                    <th>llm_model</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in page_obj %}
                <tr id="item-row-{{ obj.id }}">
                    <td>{{ forloop.counter0|add:page_obj.start_index|add:-0 }}</td>
                    <td>{{ obj.exam_name }}</td>
                    <td>{{ obj.exam_code }}</td>
                    <td>{{ obj.exam_full_points }}</td>
                    <td>{{ obj.academic_year }}</td>
                    <td>{{ obj.total_question }}</td>
                    <td>{{ obj.student_name }}</td>
                    <td>{{ obj.student_grade }}</td>
                    <td>{{ obj.student_total_point }}</td>
                    <td>{{ obj.student_total_answer }}</td>
                    <td>{{ obj.student_total_processed_answer }}</td>
                    <td>{{ obj.llm_model }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="12" class="text-center">No item found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if page_obj.has_other_pages %}
    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<div id="overlay" style="display:none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    $(document).ready(function () {


        $("#exportBtn").click(function() {
            var $form = $("#filterForm");

            // Store original action
            var originalAction = $form.attr("action") || "";

            // Change form action to Excel export URL
            $form.attr("action", "");

            // Submit the form
            $form.submit();

            // Restore original action
            $form.attr("action", originalAction);
        });
    });

</script>
{% endblock %}